@typeparam TModel

@inherits ValidatedTextControlBase<TModel, string>

<div class="validated-textarea-container" style="position: relative;">
    <RadzenTextBox id="@Id"
                   @ref="_textInputRef"
                   @bind-Value="_boundValue"
                   Style="@ComputedStyle"
                   Placeholder="@Placeholder"
                   @oninput="OnInput"
                   AutoCompleteType="@AutoCompleteType"
                   Visible="@Visible"
                   Name="@Name" />

    @if (Visible && !IsValid && !string.IsNullOrEmpty(_validationMessage))
    {
        <div class="validation-tooltip"
             style="--tooltip-offset-x:@TooltipOffsetXpx; --tooltip-offset-y:@TooltipOffsetYpx;">
            @(_validationMessage)
        </div>
    }
</div>