@typeparam TModel

@inherits ValidatedTextControlBase<TModel, DateOnly?>

<div class="validated-textarea-container" style="position: relative;">
    <RadzenDatePicker id="@Id"
                      @ref="_inputRef"
                      Style="@ComputedStyle"
                      Placeholder="@Placeholder"
                      ValueChanged="new EventCallback<DateOnly?>(this, OnValueChanged)"
                      Visible="@Visible"
                      Rows="Rows"
                      @onblur="HandleOnBlur"
                      Inline="true"
                      Name="@Name" />

    @if (Visible && !IsValid && !string.IsNullOrEmpty(_validationMessage))
    {
        <div class="validation-tooltip"
             style="--tooltip-offset-x:@TooltipOffsetXpx; --tooltip-offset-y:@TooltipOffsetYpx;">
            @(_validationMessage)
        </div>
    }
</div>