<CascadingValue Value="GetActivePresetFilter">
    <RadzenLabel Text="Preset Filters" Style="margin-bottom: 10px; display: block;" />

    <div style="@CheckBoxWithHeadingStyle">
        <RadzenCheckBox ValueChanged="@(value => OnPresetFilterCheckBoxChanged(value, PresetFilterEntryType.Series))"
                        Value="@GetFilterCheckBoxVisibility(PresetFilterEntryType.Series)"
                        TValue="bool"
                        Style="@CheckBoxStyle" />
        <RadzenHeading Size="@HeadingSize"
                       Text="Series"
                       Style="@(GetFilterCheckBoxVisibility(PresetFilterEntryType.Series) ? "" : HiddenStyle)" />
    </div>
    <SeriesQueryBuilderFilter Visible="GetFilterCheckBoxVisibility(PresetFilterEntryType.Series)"
                              @ref="_seriesFilter" />

    <div style="@CheckBoxWithHeadingStyle">
        <RadzenCheckBox ValueChanged="@(value => OnPresetFilterCheckBoxChanged(value, PresetFilterEntryType.Sample))"
                        Value="@GetFilterCheckBoxVisibility(PresetFilterEntryType.Sample)"
                        TValue="bool"
                        Style="@CheckBoxStyle" />
        <RadzenHeading Size="@HeadingSize"
                       Text="Sample"
                       Style="@(GetFilterCheckBoxVisibility(PresetFilterEntryType.Sample) ? "" : HiddenStyle)" />
    </div>
    <SampleQueryBuilderFilter Visible="GetFilterCheckBoxVisibility(PresetFilterEntryType.Sample)"
                              @ref="_sampleFilter" />

    <div style="@CheckBoxWithHeadingStyle">
        <RadzenCheckBox ValueChanged="@(value => OnPresetFilterCheckBoxChanged(value, PresetFilterEntryType.SubSample))"
                        Value="@GetFilterCheckBoxVisibility(PresetFilterEntryType.SubSample)"
                        TValue="bool"
                        Style="@CheckBoxStyle" />
        <RadzenHeading Size="@HeadingSize"
                       Text="SubSample"
                       Style="@(GetFilterCheckBoxVisibility(PresetFilterEntryType.SubSample) ? "" : HiddenStyle)" />
    </div>
    <SubSampleQueryBuilderFilter Visible="GetFilterCheckBoxVisibility(PresetFilterEntryType.SubSample)"
                                 @ref="_subSampleFilter" />

    <div style="@CheckBoxWithHeadingStyle">
        <RadzenCheckBox ValueChanged="@(value => OnPresetFilterCheckBoxChanged(value, PresetFilterEntryType.Apm))"
                        Value="@GetFilterCheckBoxVisibility(PresetFilterEntryType.Apm)"
                        TValue="bool"
                        Style="@CheckBoxStyle" />
        <RadzenHeading Size="@HeadingSize"
                       Text="Apm"
                       Style="@(GetFilterCheckBoxVisibility(PresetFilterEntryType.Apm) ? "" : HiddenStyle)" />
    </div>
    <ApmQueryBuilderFilter Visible="GetFilterCheckBoxVisibility(PresetFilterEntryType.Apm)"
                           @ref="_apmFilter" />

    <div style="@CheckBoxWithHeadingStyle">
        <RadzenCheckBox ValueChanged="@(value => OnPresetFilterCheckBoxChanged(value, PresetFilterEntryType.Particle))"
                        Value="@GetFilterCheckBoxVisibility(PresetFilterEntryType.Particle)"
                        TValue="bool"
                        Style="@CheckBoxStyle" />
        <RadzenHeading Size="@HeadingSize"
                       Text="Particle"
                       Style="@(GetFilterCheckBoxVisibility(PresetFilterEntryType.Particle) ? "" : HiddenStyle)" />
    </div>
    <ParticleQueryBuilderFilter Visible="GetFilterCheckBoxVisibility(PresetFilterEntryType.Particle)"
                                @ref="_particleFilter" />

    <RadzenRow>

        <RadzenColumn Style="display: flex; align-items: center; justify-content: left;">
            <RadzenButton Text="Apply" Click="ApplyPresetFilter" />
        </RadzenColumn>

        <RadzenColumn Style="display: flex; align-items: center; justify-content: center;">
            <RadzenDropDown Data="@_dataGrids"
                            TextProperty="@nameof(IDataGrid.EntityDisplayName)"
                            Value="@_activeGrid"
                            ValueChanged="OnDataGridSelected"
                            TValue="IDataGrid"
                            Style="width: 50%;" />
        </RadzenColumn>

        <RadzenColumn Style="display: flex; align-items: center; justify-content: right; width: 100%;">
            <PresetFilterDropDown OnPresetFilterSelected="OnPresetFilterSelected" />
        </RadzenColumn>
    </RadzenRow>

    <SeriesGrid @ref="_seriesGrid"
                          Visible="GetDataGridVisibility(_seriesGrid)"
                          GetPresetFilterBox="GetPresetFilterBox"
                          AllowEdit="false" />

    <SampleGrid @ref="_sampleGrid"
                          Visible="GetDataGridVisibility(_sampleGrid)"
                          GetPresetFilterBox="GetPresetFilterBox" />

    <SubSampleGrid @ref="_subSampleGrid"
                             Visible="GetDataGridVisibility(_subSampleGrid)"
                             GetPresetFilterBox="GetPresetFilterBox" />

    <ApmGrid @ref="_apmGrid"
                       Visible="GetDataGridVisibility(_apmGrid)"
                       GetPresetFilterBox="GetPresetFilterBox" />

    <ParticleGrid @ref="_particleGrid"
                            Visible="GetDataGridVisibility(_particleGrid)"
                            GetPresetFilterBox="GetPresetFilterBox" />

</CascadingValue>