<div style="padding: 10px; display: flex; justify-content: space-between; align-items: center;">
    <ValidatedTextBox TModel="PresetFilter"
                      @ref="_validatedTextBoxRef"
                      Model="@_activeFilter"
                      PropertyExpression="@(x => x.Name)"
                      Validator="@PresetFilterValidator"
                      DebounceTimeout="TimeSpan.FromMilliseconds(500)"
                      Visible="@(_operationMode == OperationMode.Editing)"
                      Placeholder="Enter filter name"
                      AutoCompleteType="AutoCompleteType.Off"
                      Name="FilterName"
                      TooltipOffsetX="-200"
                      Style="width: 200px; flex-grow: 1;" />

    <RadzenDropDown Data="@_filters"
                    Visible="@(_operationMode == OperationMode.Browsing)"
                    TextProperty="@(nameof(PresetFilter.Name))"
                    Change="@OnDropDownChange"
                    Style="width: auto; flex-grow: 1;"
                    @bind-Value="@_activeFilter" />

    <RadzenButton ButtonStyle="ButtonStyle.Light"
                  Icon="@_submitIcon"
                  Style="margin: 0 5px; padding: 5px 10px;"
                  Disabled="@(_validatedTextBoxRef?.HasValidationErrors ?? false)"
                  Click="@SubmitAction" />
    <RadzenButton ButtonStyle="ButtonStyle.Light"
                  Icon="@_cancelIcon"
                  Style="margin: 0 5px; padding: 5px 10px;"
                  Click="@CancelAction" />
    <RadzenButton ButtonStyle="ButtonStyle.Light"
                  Icon="delete_forever"
                  Style="padding: 5px 10px;"
                  Click="@ConfirmDelete"
                  Disabled="@(_activeFilter.Id == 0)" />
</div>