@inherits BaseGridGeneric<PmiReportView>

@using Humanizer;

<div style="display:@(Visible ? "block" : "none")">
    <GridButtonRibbon>
        <ResetGridButton Click="@(() => Reset())" />
    </GridButtonRibbon>
    <RadzenDataGrid @bind-Settings="GridSettings"
                    @ref="grid"
                    AllowAlternatingRows="false"
                    AllowColumnResize="true"
                    AllowFiltering="false"
                    AllowPaging="true"
                    AllowSorting="true"
                    ColumnWidth="150px"
                    Count="@totalCount"
                    Data="@entries"
                    KeyProperty="@nameof(PmiReportView.Id)"
                    LoadData="@((args) => LoadData(args))"
                    IsLoading="@isLoading"
                    LogicalFilterOperator="LogicalFilterOperator.And"
                    PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    TItem="PmiReportView"
                    RowRender="RowRender"
                    EmptyTemplate="@EmptyTemplate"
                    PagingSummaryFormat="@("Displaying page {0:N0} of {1:N0} <b>(total {2:N0} records)</b>")"
                    ExpandMode="DataGridExpandMode.Multiple">

        <Template Context="report">
            <div style="max-width:1000px; overflow-x: auto; margin-left: 23px;">
                <RadzenDataGrid AllowFiltering="false"
                                AllowPaging="true"
                                AllowSorting="true"
                                Data="@report.DistributionEntries">
                    <Columns>
                        <RadzenDataGridColumn Title="Distribution Channel">
                            <Template Context="entry">
                                @entry.DistributionChannel
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn Title="Distribution Status">
                            <Template Context="entry">
                                @entry.DistributionStatus.Humanize()
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </Template>

        <Columns>
            <RadzenDataGridColumn Property="@nameof(PmiReportView.Name)"
                                  Title="Report Name"
                                  Width="125px"
                                  TextAlign="TextAlign.Left">
                <Template Context="report">
                    <a href="javascript:void(0)" style="cursor:pointer;text-decoration:underline;"
                       @onclick="@(() => TriggerDownload(report.Id))">
                        @report.Name
                    </a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(PmiReportView.DateUploaded)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DateOnlyFormat"
                                  Title="Date Uploaded" />
            <RadzenDataGridColumn Property="@nameof(PmiReportView.UserName)"
                                  TextAlign="TextAlign.Left"
                                  Title="Author" />
            <RadzenDataGridColumn Title="Status"
                                  TextAlign="TextAlign.Left">
                <Template Context="report">
                    @report.Status.Humanize()
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>