@inherits BaseGridGeneric<StemPreviewEntryView>

<div style="display:@(Visible ? "block" : "none");">

    <GridButtonRibbon>
        <ResetGridButton Click="@(() => Reset())" />
    </GridButtonRibbon>

    <RadzenDataGrid @bind-Settings="@GridSettings"
                    @ref="grid"
                    AllowAlternatingRows="false"
                    AllowColumnResize="true"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    ColumnWidth="150px"
                    Count="@totalCount"
                    Data="@entries"
                    KeyProperty="@nameof(StemPreviewEntryView.Id)"
                    LoadData="@((args) => LoadData(args))"
                    IsLoading="@isLoading"
                    LogicalFilterOperator="LogicalFilterOperator.And"
                    PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    TItem="StemPreviewEntryView"
                    FilterPopupRenderMode="PopupRenderMode.OnDemand"
                    EmptyTemplate="@EmptyTemplate"
                    PagingSummaryFormat="@("Displaying page {0:N0} of {1:N0} <b>(total {2:N0} records)</b>")"
                    FilterMode="FilterMode.Advanced">

        <Columns>
            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.Id)"
                                  Title="Id"
                                  TextAlign="TextAlign.Center" 
                                  FormatString="@DecimalFormat" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.LabCode)"
                                  TextAlign="TextAlign.Left"
                                  Title="Lab Code" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.AnalysisDate)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DateOnlyFormat"
                                  Title="Analysis Date" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.IsNu)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DecimalFormat"
                                  Title="Nu" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.U234)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DecimalFormat"
                                  Title="U234" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.ErU234)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DecimalFormat"
                                  Title="ErU234" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.U235)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DecimalFormat"
                                  Title="U235" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.ErU235)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DecimalFormat"
                                  Title="ErU235" />

            <RadzenDataGridColumn Property="@nameof(StemPreviewEntryView.FileName)"
                                  TextAlign="TextAlign.Left"
                                  Width="350px"
                                  Title="File Name" />

        </Columns>
    </RadzenDataGrid>

</div>