@page "/projects/{Id:int}"
@attribute [Authorize]

@using NuclearEvaluation.Server.Shared.Charts
@using NuclearEvaluation.Server.Shared.Evaluation.Project

@if (_isLoading)
{

}
else
{
    <RadzenCard>

        <RadzenRow Style="align-items: flex-start; margin-bottom: 10px;">
            <RadzenColumn xs="10" sm="10" md="10" lg="10">
                @if (!_isEditingProjectName)
                {
                    <RadzenHeading id="projectNameHeading" Size="H2" Text="@_projectView.Name" />
                }
                else
                {
                    <ValidatedTextBox Id="projectNameInput"
                                      TModel="ProjectView"
                                      @ref="_projectNameInputRef"
                                      Model="@_projectView"
                                      PropertyExpression="@(x => x.Name)"
                                      Validator="ProjectViewValidator"
                                      AutoCompleteType="AutoCompleteType.Off"
                                      Style="width: 100%; font-size: 1.5em;"
                                      TooltipOffsetX="5"
                                      TooltipOffsetY="38"
                                      OnValidationStateChanged="@OnProjectNameValidationStateChanged" />
                }
            </RadzenColumn>
            <RadzenColumn xs="2" sm="2" md="2" lg="2" Style="display: flex; justify-content: flex-end;">
                @if (!_isEditingProjectName)
                {
                    <RadzenButton id="editProjectNameButton" Icon="edit" Click="@EditProjectName" />
                }
                else
                {
                    <RadzenButton id="saveProjectNameButton" Icon="check" Click="@SaveProjectNameChanges" Style="margin-right: 10px;" Disabled="@(!CanSaveProjectName())" />
                    <RadzenButton Icon="cancel" ButtonStyle="ButtonStyle.Secondary" Click="@CancelEditProjectName" />
                }
            </RadzenColumn>
        </RadzenRow>

        <hr class="separator" />

        <RadzenRow Style="align-items: flex-start; margin-bottom: 20px;">
            <RadzenColumn xs="10" sm="10" md="10" lg="10">
                <div>
                    <RadzenLabel Text="Series:" Style="font-weight:bold; display: block;" />
                    <RadzenLabel Text="@($"{string.Join(", ", _projectView.SeriesIds)}")" Style="font-style: italic; margin-top: 4px;" />
                </div>
            </RadzenColumn>
            <RadzenColumn xs="2" sm="2" md="2" lg="2" Style="display: flex; justify-content: flex-end; align-items: flex-start;">
                @if (!_isEditingSeries)
                {
                    <RadzenButton Icon="edit" Tooltip="Edit Series" Click="@EditSeries" />
                }
                else
                {
                    <RadzenButton Icon="check" Tooltip="Save Series Changes" Click="@SaveSeriesChanges" Disabled="@(!CanSaveProjectSeries())" Style="margin-right: 10px;" />
                    <RadzenButton Icon="cancel" Tooltip="Cancel Series Editing" ButtonStyle="ButtonStyle.Secondary" Click="@CancelEditSeries" />
                }
            </RadzenColumn>
        </RadzenRow>

        @if (_isEditingSeries)
        {
            <SeriesGrid @ref="_seriesGridRef"
                        Visible="_isEditingSeries"
                        ComponentId="fb7e7455-b562-4852-892c-2b8e51197fa6"
                        SelectedEntryIds="_selectedSeriesIds"
                        OnEntriesSelected="OnSeriesSelectionChange"
                        OnEntriesDeselected="OnSeriesSelectionChange"
                        AllowEdit="false"
                        AllowExpand="false"
                        AllowSelect="true">
            </SeriesGrid>
        }

        @* TODO Fix decay correction logic *@
@*         <RadzenRow Style="align-items: flex-start; margin-bottom: 20px;">
            <RadzenColumn xs="10" sm="10" md="10" lg="10">
                <div>
                    <RadzenLabel Text="Decay Correction Date:" Style="font-weight:bold; display: block;" />
                    <RadzenDatePicker @bind-Value="@_decayCorrectionDateInput"
                                      Change="@OnDecayCorrectionDateChange"
                                      DateFormat="yyyy-MM-dd"
                                      ShowTime="false"
                                      Style="margin-top: 4px;" />
                </div>
            </RadzenColumn>
        </RadzenRow> *@

        <RadzenTabs RenderMode="@TabRenderMode.Client" @bind-SelectedIndex="tabManager.SelectedTabIndex" Change="OnTabChanged">
            <Tabs>
                <RadzenTabsItem Text="Overview" Style="margin-right: 5px;">
                    <ProjectOverview ProjectView="@_projectView" />
                </RadzenTabsItem>

                <RadzenTabsItem Text="Series" Style="margin-right: 5px;">
                    <SeriesGrid ComponentId="bea40ae9-0cce-41c1-bdeb-71451d85451c"
                                AllowEdit="false"
                                TopLevelFilterExpression="@(x => x.ProjectSeries.Any(s => s.ProjectId == _projectView.Id))" />
                </RadzenTabsItem>

                <RadzenTabsItem Text="Samples" Style="margin-right: 5px;">
                    <SampleGrid ComponentId="bea40ae9-0cce-41c1-bdeb-71451d85451c"
                                TopLevelFilterExpression="@(x => x.Series.ProjectSeries.Any(s => s.ProjectId == _projectView.Id))" />
                </RadzenTabsItem>


                <RadzenTabsItem Text="SubSamples" Style="margin-right: 5px;">
                    <SubSampleGrid ComponentId="3d8e07c1-6f46-4a6e-818c-9ef3be34090a"
                                   TopLevelFilterExpression="@(x => x.Sample.Series.ProjectSeries.Any(s => s.ProjectId == _projectView.Id))" />
                </RadzenTabsItem>

                <RadzenTabsItem Text="Apm" Style="margin-right: 5px;">
                    <ApmGrid @ref="apmGrid"
                             ComponentId="6e6ed866-a4e3-4b41-9eaf-e63dd2415fcf"
                             EnableDecayCorrection="@( _projectView.DecayCorrectionDate.HasValue)"
                             ProjectId="@_projectView.Id" />

                    <ProjectApmUraniumBinCountsChart @ref="apmBinChart" ProjectId="@Id" />
                </RadzenTabsItem>

                <RadzenTabsItem Text="Particles" Style="margin-right: 5px;">
                    <ParticleGrid @ref="particleGrid"
                                  ComponentId="05dbb724-079b-4a39-9cf8-1318c29091ac"
                                  EnableDecayCorrection="@( _projectView.DecayCorrectionDate.HasValue)"
                                  ProjectId="@_projectView.Id" />

                    <ProjectParticleUraniumBinCountsChart @ref="particleBinChart" ProjectId="@Id" />
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>

        <p />
        <RadzenButton Text="Back to Projects" Click="@GoBack" />
    </RadzenCard>
}