@inherits BaseGrid

<div style="display:@(Visible ? "block" : "none");">

    <GridButtonRibbon>
        <ResetGridButton Click="@(() => Reset())" />
    </GridButtonRibbon>

    <RadzenDataGrid @bind-Settings="@GridSettings"
                    @ref="grid"
                    AllowAlternatingRows="false"
                    AllowColumnResize="true"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    ColumnWidth="150px"
                    Count="@totalCount"
                    Data="@entries"
                    KeyProperty="@nameof(ParticleView.Id)"
                    LoadData="@((args) => LoadData(args))"
                    IsLoading="@isLoading"
                    LogicalFilterOperator="LogicalFilterOperator.And"
                    PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    TItem="ParticleView"
                    FilterPopupRenderMode="PopupRenderMode.OnDemand"
                    PagingSummaryFormat="@("Displaying page {0:N0} of {1:N0} <b>(total {2:N0} records)</b>")"
                    FilterMode="FilterMode.Advanced">

        <Columns>

            <RadzenDataGridColumn Property="@nameof(ParticleView.ParticleExternalId)"
                                  TextAlign="TextAlign.Left"
                                  Title="Particle Id" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.AnalysisDate)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="@DateOnlyFormat"
                                  Title="Analysis Date" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.IsNu)"
                                  TextAlign="TextAlign.Left"
                                  Title="Is Nu" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.U234)"
                                  TextAlign="TextAlign.Left"
                                  Title="@(nameof(ParticleView.U234))" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.ErU234)"
                                  TextAlign="TextAlign.Left"
                                  Title="@(nameof(ParticleView.ErU234))" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.U235)"
                                  TextAlign="TextAlign.Left"
                                  Title="@(nameof(ParticleView.U235))" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.ErU235)"
                                  TextAlign="TextAlign.Left"
                                  Title="@(nameof(ParticleView.ErU235))" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.LaboratoryCode)"
                                  TextAlign="TextAlign.Left"
                                  Title="Laboratory Code" />

            <RadzenDataGridColumn Property="@nameof(ParticleView.Comment)"
                                  TextAlign="TextAlign.Left"
                                  Title="@nameof(ParticleView.Comment)" />

        </Columns>
    </RadzenDataGrid>

</div>