@inherits BaseGrid

<div style="display:@(Visible ? "block" : "none");">

    <GridButtonRibbon>
        <ResetGridButton Click="@(() => Reset())" />
    </GridButtonRibbon>

    <RadzenDataGrid @bind-Settings="@GridSettings"
                    @ref="grid"
                    AllowAlternatingRows="false"
                    AllowColumnResize="true"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    ColumnWidth="150px"
                    Count="@totalCount"
                    Data="@entries"
                    KeyProperty="@nameof(SampleView.Sequence)"
                    LoadData="@((args) => LoadData(args))"
                    IsLoading="@isLoading"
                    LogicalFilterOperator="LogicalFilterOperator.And"
                    PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    TItem="SampleView"
                    FilterPopupRenderMode="PopupRenderMode.OnDemand"
                    PagingSummaryFormat="@("Displaying page {0:N0} of {1:N0} <b>(total {2:N0} records)</b>")"
                    FilterMode="FilterMode.Advanced">

        <Columns>

            <RadzenDataGridColumn Property="@nameof(SampleView.Sequence)"
                                  Title="Sequence"
                                  TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn Property="@nameof(SampleView.SampleClass)"
                                  Title="Class"
                                  TextAlign="TextAlign.Left">
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="@nameof(SampleView.SampleType)"
                                  TextAlign="TextAlign.Left"
                                  Title="Sample Type"
                                  FilterOperator="FilterOperator.Custom"
                                  Sortable="true">
                <EditTemplate Context="sample">
                    <RadzenDropDown Data="Enum.GetValues<SampleType>()"
                                    Style="width:100%;"
                                    @bind-Value="sample.SampleType" />
                </EditTemplate>
                <FilterTemplate Context="column">
                    <GenericEnumColumnFilter T="SampleType" K="SampleView" Command="currentCommand"
                                             Column="column"
                                             PropertyName="@(nameof(SampleView.SampleType))" />
                </FilterTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="@nameof(SampleView.SamplingDate)"
                                  TextAlign="TextAlign.Left"
                                  FormatString="{0:yyyy-MM-dd}"
                                  Title="Sampling Date" />

            <RadzenDataGridColumn Property="@nameof(SampleView.SubSampleCount)"
                                  TextAlign="TextAlign.Left"
                                  Title="SubSample Count" />

            <RadzenDataGridColumn Property="@nameof(SampleView.Latitude)"
                                  Title="Latitude"
                                  TextAlign="TextAlign.Left">
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="@nameof(SampleView.Longitude)"
                                  Title="Longitude"
                                  TextAlign="TextAlign.Left">
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>

</div>